body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

/* TOP BAR */
.top-bar {
  background: #2e7d32;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.settings-btn {
  background: linear-gradient(#7CFC00, #32CD32);
  border: none;
  padding: 8px 14px;
  font-weight: bold;
  cursor: pointer;
}

/* PLAYER */
.player {
  padding: 20px;
}

#nowPlaying {
  margin-bottom: 10px;
}

/* PROGRESS */
#progress {
  width: 100%;
  margin: 10px 0;
}

/* TIME */
.time-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* CONTROLS */
.controls {
  margin-top: 15px;
}

.controls button {
  font-size: 18px;
  margin-right: 10px;
}

.file-label {
  background: white;
  color: black;
  padding: 6px 10px;
  cursor: pointer;
}

.file-label input {
  display: none;
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
}

/* BUILT-IN TRACK BUTTONS */
#tracksContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.track-btn {
  background: #0a1fff;
  color: white;
  border: none;
  padding: 16px 22px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}
